/* Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .auth-card {
    background-color: #fff;
    padding: 40px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .auth-card h1 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 14px;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .auth-btn {
    background-color:#ee00ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .auth-btn:hover {
    background-color: #e68900;
  }
  
  .auth-toggle {
    text-align: center;
    margin-top: 20px;
  }
  
  .auth-link {
    color: #007185;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .auth-link:hover {
    color: #003d58;
  }
  